@import "bootstrap/functions";
@import "bootstrap/variables";
@import "_mixin";

$font-unit: 0.0625rem !default;

a, button.btn {
    @media screen and (min-width: 1024px) {
        transition: color .2s, border .2s, background .2s;
    }
}

section {
    position: relative;
    background-color: #FFC300;
    background-position: center;
    overflow: hidden;
    > img.illustration {
        position: absolute;
        bottom: 0;
        right: -20px;
        width: 260px;
        @media screen and (min-width: 570px) {
            width: 290px;
        }
        @media screen and (min-width: 1200px) {
            width: 485px;
        }
    }
    .container {
        position: relative;
        z-index: 1;
    }
}

.logo-group {
    position: absolute;
    top: 75px;
    left: 15px;
    display: flex;
    align-items: center;
    @media screen and (min-width: 1200px) {
        top: 100px;
    }
    a.logo {
        display: block;
        padding: 8px;
        @media screen and (min-width: 570px) {
            padding: 12px;
        }
        @media screen and (min-width: 768px) {
            padding: 15px;
        }
        img {
            height: 35px;
            @media screen and (min-width: 570px) {
                height: 60px;
            }
            @media screen and (min-width: 768px) {
                height: 73px;
            }
        }
    }
}

.index-page, .option-page, .result-page {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 55px;
        @media screen and (min-width: 768px) {
            justify-content: center;
        }
    }
    .content {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    img {
        max-width: 100%;
    }
    h2 {
        position: relative;
        padding-left: 25px;
        padding-right: 25px;
        @include fs(26);
        text-align: center;
        text-shadow: 5px 5px 5px $white;
        @media screen and (min-width: 414px) {
            padding-left: 40px;
            padding-right: 40px;
        }
        @media screen and (min-width: 1200px) {
            padding-left: 50px;
            padding-right: 50px;
            @include fs(42);
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
    .date-sticker {
        position: absolute;
        left: 40px;
        @media screen and (min-width: 1200px) {
            transform: translate(-90%, -20%);
        }
        @media screen and (min-width: 1024px) {
            transform: translate(-100%, -35%);
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 200px;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            transform: translate(-10%, -30%);
        }
        @media screen and (min-width: 570px) and (max-width: 767px) {
            width: 170px;
            transform: translate(-10%, -30%);
        }
        @media screen and (max-width: 569px) {
            width: 125px;
            transform: translate(-70%, -70%);
        }
    }
    a.btn-go {
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: 100px;
        @media screen and (min-width: 1200px) {
            max-width: 35%;
        }
        img {
            max-width: 100%;
            &.hover {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: opacity 0.3s;
            }
        }
        &:hover {
            img.hover {
                opacity: 0.5;
            }
        }
    }
}

.index-page, .option-page {
    section {
        background-image: url('../images/background-dot.svg');
        > img.background {
            position: absolute;
            max-width: none !important;
            left: 50%;
            background-size: cover;
            object-fit: cover;
            z-index: 0;
            @media screen and (orientation: landscape) {
                top: 50%;
                transform: translate(-50%, -50%);
            }
            @media screen and (orientation: portrait) {
                top: 0;
                transform: translate(-50%, -12%);
            }
            &.default {
                @media screen and (orientation: portrait) {
                    display: none;
                }
            }
            &.vertical {
                @media screen and (orientation: landscape) {
                    display: none;
                }
            }
        }
    }
}

.index-page {
    .container {
        padding-top: 125px;
        @media screen and (min-width: 1200px) {
            padding-top: 115px;
            padding-bottom: 75px;
        }
    }
    .content {
        @media screen and (min-width: 570px) and (max-width: 1199px) {
            padding-left: 20px;
            max-width: 570px;
        }
        @media screen and (min-width: 570px) {
            padding-left: 40px;
        }
        @media screen and (max-width: 767px) {
            height: auto;
        }
        @media screen and (max-width: 569px) {
            max-width: 300px;
        }
    }
}

.option-page {
    .container {
        padding-top: 145px;
        @media screen and (min-width: 1200px) {
            padding-top: 205px;
            padding-bottom: 125px;
        }
    }
    .content {
        @media screen and (min-width: 1200px) {
            &.content-md {
                max-width: 768px;
            }
            &.content-lg {
                max-width: 965px;
            }
        }
        @media screen and (min-width: 570px) and (max-width: 1199px) {
            max-width: 90%;
        }
        @media screen and (max-width: 767px) {
            height: auto;
        }
        @media screen and (max-width: 569px) {
            max-width: 300px;
        }
    }
    h1 {
        margin-bottom: 15px;
        @include fs(24);
        letter-spacing: 0.2em;
        text-align: center;
        @media screen and (min-width: 570px) {
            @include fs(28);
        }
        @media screen and (min-width: 768px) {
            @include fs(32);
        }
        @media screen and (min-height: 600px) and (max-height: 800px) {
            @include fs(32);
        }
        @media screen and (min-width: 1200px) {
            @include fs(36);
        }
    }
    .option-group {
        min-width: 210px;
        @include fs(20);
        @media screen and (min-width: 570px) {
            @include fs(24);
        }
        @media screen and (min-width: 768px) {
            width: 410px;
            @include fs(28);
        }
        @media screen and (min-height: 600px) and (max-height: 800px) {
            @include fs(28);
        }
        @media screen and (min-width: 1200px) {
            @include fs(32);
        }
        a {
            display: block;
            padding: 6px 20px;
            margin-top: 20px;
            color: #fff;
            text-align: center;
            background-color: #0099DB;
            border: 3px solid #fff;
            text-decoration: none;
            border-radius: 40px;
            @media screen and (min-height: 600px) and (max-height: 800px) {
                margin-top: 10px;
            }
            &:hover {
                color: #0099DB;
                background-color: #FFEB00;
            }
        }
    }
}

.result-page, .success-page {
    section {
        &:first-child {
            background-image: url('../images/result-background-dot.svg');
        }
        > img {
            position: absolute;
            max-width: none !important;
            left: 50%;
            object-fit: cover;
            z-index: 0;
            &.default {
                @media screen and (orientation: portrait) {
                    display: none;
                }
            }
            &.vertical {
                @media screen and (orientation: landscape) {
                    display: none;
                }
            }
        }
    }
}

.result-page {
    section {
        > img {
            top: 0;
            @media screen and (orientation: landscape) {
                transform: translate(-49%, -7%);
                @media screen and (min-width: 1200px) {
                    transform: translate(-52%, -9%);
                }
            }
            @media screen and (orientation: portrait) {
                transform: translate(-48.5%, -1%);
            }
        }
    }
    .container {
        padding-top: 145px;
        @media screen and (min-width: 768px) {
            padding-top: 85px;
        }
        @media screen and (min-width: 1200px) {
            padding-top: 125px;
            padding-bottom: 125px;
        }
    }
    h1 {
        @include fs(34);
        letter-spacing: 0.2em;
        @media screen and (min-width: 1024px) {
            @include fs(38);
        }
        @media screen and (min-width: 1200px) {
            @include fs(42);
        }
    }
    p {
        @include fs(24);
        @media screen and (min-width: 1024px) {
            @include fs(28);
        }
        @media screen and (min-width: 1200px) {
            @include fs(32);
        }
        &.opacity {
            @include fs(20);
            letter-spacing: 0.12em;
            @media screen and (min-width: 1024px) {
                @include fs(24);
            }
            @media screen and (min-width: 1200px) {
                @include fs(26);
            }
        }
        a {
            font-weight: 700;
        }
    }
    .h5 {
        @include fs(19);
        letter-spacing: 0.12em;
        @media screen and (min-width: 1024px) {
            @include fs(23);
        }
        @media screen and (min-width: 1200px) {
            @include fs(27);
        }
    }
    .icon {
        @media screen and (max-width: 1199px) {
            max-width: 130px;
        }
        @media screen and (max-height: 800px) {
            max-width: 130px;
        }
    }
    form {
        @include fs(17);
        @media screen and (min-width: 1024px) {
            @include fs(19);
        }
        @media screen and (min-width: 1200px) {
            @include fs(21);
        }
        > div {
            &:not(.button-center) {
                @media screen and (min-width: 768px) {
                    padding-right: calc(6em + 40px);
                }
                @media screen and (max-width: 767px) {
                    flex-wrap: wrap;
                }
            }
        }
        label {
            @media screen and (min-width: 768px) {
                width: 6em;
            }
        }
        input {
            &[type='text'],
            &[type='tel'] {
                width: 100%;
                padding-left: 30px;
                padding-right: 30px;
                border: 1px solid rgba(black, 0.5);
                border-radius: 40px;
                @media screen and (min-width: 768px) {
                    width: 390px;
                }
            }
        }
        .button-center {
            label {
                width: auto;
            }
        }
        button {
            display: block;
            min-width: 210px;
            padding: 6px 20px;
            margin-top: 20px;
            color: #fff;
            @include fs(24);
            text-align: center;
            background-color: #FF4E00;
            border: 3px solid #fff;
            text-decoration: none;
            border-radius: 40px;
            cursor: pointer;
            @media screen and (min-width: 768px) {
                width: 410px;
            }
            @media screen and (min-width: 1024px) {
                @include fs(28);
            }
            @media screen and (min-width: 1200px) {
                @include fs(32);
            }
            &:hover {
                background-color: darken(#FF4E00, 5%);
            }
        }
        .policy {
            display: table;
            margin-left: auto;        
            margin-right: auto;        
            padding-left: 0;
            list-style: none;
            @include fs(12);
            li {
                position: relative;
                padding-left: 1.25em;
                &::before {
                    content: 'â–';
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}

.success-page {
    section {
        > img {
            bottom: 20px;
            @media screen and (orientation: landscape) {
                transform: translateX(-49%);
                @media screen and (min-width: 1200px) {
                    transform: translateX(-52%);
                }
            }
            @media screen and (orientation: portrait) {
                transform: translateX(-48.5%);
            }
        }
        h1 {
            @include fs(34);
            letter-spacing: 0.2em;
            @media screen and (min-width: 1024px) {
                @include fs(38);
            }
            @media screen and (min-width: 1200px) {
                @include fs(42);
            }
        }
        p {
            @include fs(19);
            letter-spacing: 0.12em;
            @media screen and (min-width: 1024px) {
                @include fs(23);
            }
            @media screen and (min-width: 1200px) {
                @include fs(27);
            }
        }
        &:first-child {
            .container {
                padding-top: 155px;
                padding-bottom: 245px;
                @media screen and (min-width: 768px) {
                    padding-top: 205px;
                }
                @media screen and (min-width: 1200px) {
                    padding-top: 125px;
                }
            }
        }
        &.distributor {
            .container {
                padding-top: 60px;
                padding-bottom: 60px !important;
            }
        }
    }
    .main-icon {
        max-width: 280px;
        @media screen and (min-width: 768px) {
            max-width: 368px;
        }
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        img {
            margin-left: 20px;
            @media screen and (max-width: 413px) {
                width: calc((100% - (20px * 2)) / 3);
                &:nth-child(3n+1) {
                    margin-left: 0;
                }
            }
            @media screen and (min-width: 414px) and (max-width: 767px) {
                width: calc((100% - (20px * 3)) / 4);
                &:nth-child(4n+1) {
                    margin-left: 0;
                }
            }
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                width: calc((100% - (20px * 5)) / 6);
                &:nth-child(6n+1) {
                    margin-left: 0;
                }
            }
            @media screen and (min-width: 1024px) {
                width: calc((100% - (20px * 6)) / 7);
                &:nth-child(7n+1) {
                    margin-left: 0;
                }
            }    
        }
    }
}
