@media screen and (min-width: 1024px) {
  a, button.btn {
    -webkit-transition: color .2s, border .2s, background .2s;
    transition: color .2s, border .2s, background .2s;
  }
}

section {
  position: relative;
  background-color: #FFC300;
  background-position: center;
  overflow: hidden;
}

section > img.illustration {
  position: absolute;
  bottom: 0;
  right: -20px;
  width: 260px;
  max-height: 35vh;
}

@media screen and (min-width: 570px) {
  section > img.illustration {
    width: 290px;
  }
}

@media screen and (min-width: 1200px) {
  section > img.illustration {
    width: 485px;
  }
}

section > img.bg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 2400px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  section .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 991px) {
  section .container {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media screen and (max-width: 768px) {
  section .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

section .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

section .content img {
  max-width: 100%;
}

.logo-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.logo-group a.logo {
  display: block;
  padding: 8px;
}

@media screen and (min-width: 570px) {
  .logo-group a.logo {
    padding: 12px;
  }
}

@media screen and (min-width: 768px) {
  .logo-group a.logo {
    padding: 15px;
  }
}

.logo-group a.logo img {
  height: 35px;
}

@media screen and (min-width: 570px) {
  .logo-group a.logo img {
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .logo-group a.logo img {
    height: 73px;
  }
}

.index-page .content {
  margin-top: 0;
  margin-bottom: auto;
}

@media screen and (max-width: 767px) {
  .index-page .content {
    padding-left: 8.5vw;
    padding-right: 5.5vw;
  }
}

.index-page h2 {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1.625rem;
  text-align: center;
  text-shadow: 5px 5px 5px #fff;
}

@media screen and (min-width: 414px) {
  .index-page h2 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .index-page h2 {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 2.625rem;
  }
}

.index-page h2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.index-page .date-sticker {
  position: absolute;
  left: 40px;
}

@media screen and (min-width: 1200px) {
  .index-page .date-sticker {
    -webkit-transform: translate(-90%, -20%);
            transform: translate(-90%, -20%);
  }
}

@media screen and (min-width: 1024px) {
  .index-page .date-sticker {
    -webkit-transform: translate(-100%, -35%);
            transform: translate(-100%, -35%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .index-page .date-sticker {
    width: 200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .index-page .date-sticker {
    -webkit-transform: translate(-10%, -10%);
            transform: translate(-10%, -10%);
  }
}

@media screen and (min-width: 570px) and (max-width: 767px) {
  .index-page .date-sticker {
    width: 170px;
    -webkit-transform: translate(-10%, -30%);
            transform: translate(-10%, -30%);
  }
}

@media screen and (max-width: 569px) {
  .index-page .date-sticker {
    width: 125px;
    -webkit-transform: translate(-40%, -80%);
            transform: translate(-40%, -80%);
  }
}

.index-page a.btn-go {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 100px;
}

@media screen and (min-width: 1200px) {
  .index-page a.btn-go {
    max-width: 35%;
  }
}

.index-page a.btn-go img {
  max-width: 100%;
}

.index-page a.btn-go img.hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.index-page a.btn-go:hover img.hover {
  opacity: 0.5;
}

.index-page section, .option-page section {
  background-image: url(../images/background-dot.svg);
}

.option-page .content, .result-page .content {
  margin-top: 20px;
  margin-bottom: auto;
}

@media screen and (min-width: 1200px) {
  .option-page .content.content-md {
    max-width: 768px;
  }
  .option-page .content.content-lg {
    max-width: 965px;
  }
}

@media screen and (min-width: 570px) and (max-width: 1199px) {
  .option-page .content {
    max-width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .option-page .content {
    height: auto;
  }
}

@media screen and (max-width: 569px) {
  .option-page .content {
    max-width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .option-page .content {
    padding-left: 4.5vw;
    padding-right: 2.5vw;
  }
}

.option-page h1 {
  margin-bottom: 15px;
  font-size: 1.375rem;
  letter-spacing: 0.2em;
  text-align: center;
}

@media screen and (min-width: 414px) {
  .option-page h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 570px) {
  .option-page h1 {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 768px) {
  .option-page h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) and (min-height: 600px) and (max-height: 800px) {
  .option-page h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .option-page h1 {
    font-size: 2.25rem;
  }
}

.option-page .option-group {
  min-width: 210px;
  font-size: 1.125rem;
}

@media screen and (min-width: 414px) {
  .option-page .option-group {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 570px) {
  .option-page .option-group {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .option-page .option-group {
    width: 410px;
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 768px) and (min-height: 600px) and (max-height: 800px) {
  .option-page .option-group {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .option-page .option-group {
    font-size: 2rem;
  }
}

.option-page .option-group a {
  display: block;
  padding: 6px 20px;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  background-color: #0099DB;
  border: 3px solid #fff;
  text-decoration: none;
  border-radius: 40px;
}

@media screen and (max-height: 800px) {
  .option-page .option-group a {
    margin-top: 10px;
  }
}

.option-page .option-group a:hover {
  color: #0099DB;
  background-color: #FFEB00;
}

.result-page section:first-child, .success-page section:first-child {
  background-image: url("../images/result/background-dot.svg");
}

.result-page h1 {
  font-size: 2.125rem;
  letter-spacing: 0.2em;
}

@media screen and (min-width: 1024px) {
  .result-page h1 {
    margin-top: -75px;
    font-size: 2.375rem;
  }
}

@media screen and (min-width: 1200px) {
  .result-page h1 {
    font-size: 2.625rem;
  }
}

.result-page p {
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .result-page p {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .result-page p {
    font-size: 2rem;
  }
}

.result-page p.opacity {
  font-size: 1.25rem;
  letter-spacing: 0.12em;
}

@media screen and (min-width: 1024px) {
  .result-page p.opacity {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .result-page p.opacity {
    font-size: 1.625rem;
  }
}

.result-page p a {
  font-weight: 700;
}

.result-page .h5 {
  font-size: 1.1875rem;
  letter-spacing: 0.12em;
}

@media screen and (min-width: 1024px) {
  .result-page .h5 {
    font-size: 1.4375rem;
  }
}

@media screen and (min-width: 1200px) {
  .result-page .h5 {
    font-size: 1.6875rem;
  }
}

@media screen and (max-width: 1199px) {
  .result-page .icon {
    max-width: 130px;
  }
}

@media screen and (max-height: 800px) {
  .result-page .icon {
    max-width: 130px;
  }
}

.result-page form {
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  .result-page form {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 1200px) {
  .result-page form {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .result-page form > div:not(.button-center) {
    padding-right: calc(6em + 40px);
  }
}

@media screen and (max-width: 767px) {
  .result-page form > div:not(.button-center) {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.result-page form label {
  width: 6.5em;
  color: rgba(0, 0, 0, 0.8);
}

.result-page form input[type='text'], .result-page form input[type='tel'] {
  width: calc(100% - 6.5em);
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}

@media screen and (min-width: 768px) {
  .result-page form input[type='text'], .result-page form input[type='tel'] {
    width: 390px;
  }
}

.result-page form .button-center label {
  width: auto;
}

.result-page form button {
  display: block;
  min-width: 210px;
  padding: 7px 20px;
  color: #fff;
  font-size: 1.125rem;
  text-align: center;
  background-color: #FF4E00;
  border: 3px solid #fff;
  text-decoration: none;
  border-radius: 40px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .result-page form button {
    width: 410px;
  }
}

@media screen and (min-width: 1024px) {
  .result-page form button {
    font-size: 1.4375rem;
  }
}

@media screen and (min-width: 1200px) {
  .result-page form button {
    font-size: 1.75rem;
  }
}

.result-page form button:hover {
  background-color: #e64600;
}

.result-page form .policy {
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  color: #707070;
  list-style: none;
  font-size: 0.75rem;
}

.result-page form .policy li {
  position: relative;
  padding-left: 1.25em;
}

.result-page form .policy li::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 10px;
  height: 10px;
  background-image: url("../images/checkmark.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.success-page section h1 {
  font-size: 2.125rem;
  letter-spacing: 0.2em;
}

@media screen and (min-width: 1024px) {
  .success-page section h1 {
    font-size: 2.375rem;
  }
}

@media screen and (min-width: 1200px) {
  .success-page section h1 {
    font-size: 2.625rem;
  }
}

.success-page section p {
  font-size: 1.1875rem;
  letter-spacing: 0.12em;
}

@media screen and (min-width: 1024px) {
  .success-page section p {
    font-size: 1.4375rem;
  }
}

@media screen and (min-width: 1200px) {
  .success-page section p {
    font-size: 1.6875rem;
  }
}

.success-page section:first-child {
  min-height: 580px !important;
}

@media screen and (min-width: 1024px) {
  .success-page section:first-child {
    min-height: 800px !important;
  }
}

.success-page section:first-child .container {
  min-height: auto !important;
}

.success-page section:first-child > img.bg-img {
  top: auto;
  bottom: -30vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 1024px) {
  .success-page section:first-child > img.bg-img {
    bottom: -10vw;
  }
}

.success-page section.distributor .container {
  padding-top: 60px;
  padding-bottom: 60px !important;
}

.success-page .main-icon {
  max-width: 280px;
}

@media screen and (min-width: 768px) {
  .success-page .main-icon {
    max-width: 368px;
  }
}

.success-page .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.success-page .list img {
  margin-left: 20px;
}

@media screen and (max-width: 413px) {
  .success-page .list img {
    width: calc((100% - (20px * 2)) / 3);
  }
  .success-page .list img:nth-child(3n+1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 414px) and (max-width: 767px) {
  .success-page .list img {
    width: calc((100% - (20px * 3)) / 4);
  }
  .success-page .list img:nth-child(4n+1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .success-page .list img {
    width: calc((100% - (20px * 5)) / 6);
  }
  .success-page .list img:nth-child(6n+1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .success-page .list img {
    width: calc((100% - (20px * 6)) / 7);
  }
  .success-page .list img:nth-child(7n+1) {
    margin-left: 0;
  }
}
/*# sourceMappingURL=customize.css.map */